body{
    background-color: rgb(255, 255, 255);
}
.module{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(252, 251, 251);
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    height: 40vh;
    transition: transform 0.1s ease;
}
.module:hover {
    transform: scale(1.02);
}

.text{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Courier, monospace;
    font-size: 30px;
    max-width: 400px;
}
h1{
    font-size: 100px;
    color: black;
    font-family: Courier, monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 80px;
    color: black;
    font-family: Courier, monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder-closed{
    display: flex;
    height: auto;
    width: auto;
    margin-top: 15px;
    display: block;
}

.folder-open {
    display: none;
    height: 200px;
    width: auto;
    transform: rotate(90deg)
}

.module:hover .folder-closed {
    display: none;
}

.module:hover .folder-open {
    display: block;
}
.thumbnail{
    display: none;
    margin-right: 35px;
}
.module:hover .thumbnail{
    display: block;
}