body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
    text-align: center;
    padding-top: 175px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 125px;
    margin-top: 25px;
}
p{
    padding: 25px;
    text-align: left;
    width: 350px;
}
.image{
    max-width: 350px;
    padding: 25px;
}
.next-to{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black ;
    border-radius: 10px;
    width: 1200px;
    margin-bottom: 25px;

}
.grid {
    display: grid;
    grid-template-columns: repeat(15, 21px);
    padding: 25px;
  }
  
  .box {
    width: 21px;
    height: 21px;
    border: 1px solid black;
  }  
  